* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
    background: #fff url('../images/just.jpg') no-repeat 40% center;
}

.onemoretext{
    margin-top: -50px;
    margin-bottom: 30px;
    height: auto;
    width: auto;
}

#overlay img { display: none; }

#overlay.currently-loading img {
    display: block;
    width: 100%;
    heigth: 100%;
}

.wow {
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.page {
    min-height: 100%;
    padding-bottom: 90px;
    box-sizing: border-box;
}

.header {
    float: right;
    width: 400px;
    height: 600px;
    background: url('../images/myphoto.png') no-repeat;
    background-size: contain;
    font-family: Monotype Corsiva, Tahoma, Arial;
    font-size: 42px;
}

.onemoretext {
    padding-top: 60px;
    padding-left: 100px;
    width: 400px;
    font-family: Monotype Corsiva, Tahoma, Arial;
    font-size: 42px;
}

.textbox1{
    width:50%;
    height:800px;
    overflow:auto;
    float:left;
    background-size: contain;
    padding: 5px;
    margin-bottom: -90px;
}

.textbox{
    width:50%;
    height:800px;
    overflow:auto;
    float: left;
    background-size: contain;
    padding: 5px;
    margin-top: -440px;
}

.sign {
    height: 70px;
    margin-top: -90px;
    box-sizing: border-box;
    background: rgba(204, 204, 204, 0.43);
    border-radius: 0 0 20px 20px;
    padding: 5px;
    color: rgb(80, 80, 80);
    font-size: 25px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    text-align: center;
}
button{
    padding: .5rem 1rem;
    background-color: #008cba;
    font-size: 1rem;
    color: #fff;
}

textarea{
    width: 75%;
    height: 5rem;
    padding: .5rem;
    font-size: 1rem;
}
